<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_catalogsearch_result_index">
        <observer name="CoveoDoSearch" instance="Coveo\Search\Observer\Search\ExecuteCoveoSearch" />
    </event>

    <event name="checkout_cart_add_product_complete">
        <observer name="CoveoTrackAddToCart" instance="Coveo\Search\Observer\Tracking\TrackAddToCart" />
    </event>

    <event name="sales_quote_remove_item">
        <observer name="CoveoTrackRemoveFromCart" instance="Coveo\Search\Observer\Tracking\TrackRemoveFromCart" />
    </event>

    <event name="checkout_cart_update_items_before">
        <observer name="CoveoTrackCartUpdateQty" instance="Coveo\Search\Observer\Tracking\TrackCartUpdateQty" />
    </event>
    <event name="customer_logout">
       <observer instance="Coveo\Search\Observer\Tracking\Logout" name="CoveoLogout"/>
    </event>
    <event name="customer_login">
       <observer instance="Coveo\Search\Observer\Tracking\Login" name="CoveoLogin"/>
    </event>
</config>
